body {
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

header {
    display: block;
    margin: 0 auto 12px auto;
}

header nav {
    font-size: 14px;
    margin: 8px 0;
    padding: 0;
}

header nav ul {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    margin: 0;
    min-width: 64px;
    padding: 0;
    width: 33.3333%;
}

header nav a {
    color: #333;
    display: inline-block;
    margin: 0;
    padding: 4px 0;
    text-decoration: none;
    width: 100%;
}

header nav a:hover {
    background-color: #bbb;
    color: #fff;
}

#title {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

#title a {
    color: #333;
    text-decoration: none;
}

#title a:hover {
    text-decoration: underline;
}

#subtitle {
    color: #555;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    max-width: 720px;
    padding: 16px;
}

header {
    max-width: 384px;
}

/* Code blocks */
#container pre {
    background-color: #eee;
    border-radius: 2px;
    font-family: monospace;
    font-size: 12px;
    overflow-x: auto;
    padding: 8px;
    text-align: left;
}

#list {
    list-style-type: none;
    margin: 16px 0 0 0;
    padding: 0;
}

#list li {
    margin: 0;
    padding: 0;
}

#list a {
    border-left: 1px solid #bbb;
    border-radius: 4px 4px 0 0;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
    color: #333;
    display: block;
    font-weight: normal;
    margin: 0 auto;
    max-width: 256px;
    min-height: 32px;
    padding: 4px 0;
    text-decoration: none;
}

#list a:hover {
    background-color: #bbb;
    color: white;
}

.list-name {
    font-weight: bold;
}

.list-description {
    padding: 0 2px;
}

#files {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 12px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

#files tr:hover {
    background-color: #eee;
}

#files a {
    color: #333;
    font-weight: none;
    text-decoration: none;
}

#files a:hover {
    text-decoration: underline;
}

#files td {
    padding: 0;
}

#files td.filemode {
    /* For some reason, browsers want to wrap the mode column, so
       politely ask them not to */
    white-space: nowrap;
}

#files td.filename {
    padding: 0 8px;
    width: 100%;
}

#files td.filedir {
    font-weight: bold;
}

#files td.filesize {
    text-align: right;
}

#readme {
    font-size: 14px;
    overflow-x: auto;
    text-align: left;
}

#breadcrumbs {
    display: block;
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#breadcrumbs a {
    color: #333;
}

@media (max-width: 500px) {
    #files td.filename {
        padding: 2px 0;
        font-size: 1.25em;
    }

    #files td.filemode {
        display: none;
    }

    #files td.filesize {
        display: none;
    }
}

/* Taken from highlight.js mono-blue theme */
.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
    font-weight: bold;
}

.hljs-comment {
    color: #738191;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #0048ab;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
    color: #4c81c9;
}

.hljs-emphasis {
    font-style: italic;
}
