body {
    color: #333;
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: center;
}

header {
    display: block;
    margin: 0 auto 12px auto;
}

header nav {
    margin: 8px 0;
    padding: 0;
}

header nav ul {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 33.3333%;
}

header nav a {
    color: #333;
    display: inline-block;
    margin: 0;
    padding: 4px 0;
    text-decoration: none;
    width: 100%;
}

header nav a:hover {
    background-color: #bbb;
    color: #fff;
}

h1#title {
    color: #333;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

p#subtitle {
    color: #555;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

#container {
    margin: 0 auto;
    max-width: 720px;
    min-width: 300px;
    padding: 16px;
}

header, div#container > ul {
    max-width: 384px;
}

div#container > ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

ul#repolist li {
    margin-bottom: 8px;
}

ul#repolist div.reponame {
    display: block;
}

ul#repolist p {
    color: #222;
    display: block;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

ul#repolist a:link, ul#repolist a:hover, ul#repolist a:visited, ul#repolist a:active {
    color: #333;
    display: inline-block;
    font-size: 18px;
}

div.repoage {
    float: right;
    font-size: 12px;
}

div.reponew {
    color: #080;
}

div.repomid {
    color: #333;
}

div.repoold {
    color: #777;
}

ul#files {
    font-family: monospace;
    font-size: 12px;
}

span.filemode {
    margin-right: 1em;
}

ul#files li:hover {
    background-color: #eee;
}

ul#files a:link, ul#files a:hover, ul#files a:visited, ul#files a:active {
    color: #333;
    font-weight: none;
    text-decoration: none;
}

ul#files a:hover {
    text-decoration: underline;
}

ul#files a.filedir {
    font-weight: bold;
}

ul#files span.filesize {
    float: right;
}

div#readme {
    font-size: 14px;
    text-align: left;
}
