{{ define "repo-title" }}{{ .Path }}{{ end }}
{{ define "repo-header" }}
  {{/* Write the breadcrumbs only when we're deeper than the root of the
       tree. Breadcrumbs consisting of just `root' aren't helpful. */}}
  {{ if .SplitPath }}
    <div id="breadcrumbs">
        <a href="{{ .URL.RepoTree .Repo "/" true }}">root</a>{{ range .SplitPath }}/{{ if .IsLast }}<strong>{{ .Name }}</strong>{{ else }}<a href="{{ $.URL.RepoTree $.Repo .FullPath true }}">{{ .Name }}</a>{{ end }}{{ end }}
    </div>
  {{ end }}
  {{ if .IsListing }}
    <table id="files">
      {{ if not .IsRoot }}
          <tr><td class="filemode">d---------</td><td class="filename filedir"><a href="{{ .URL.RepoTree .Repo .Dirname true }}">..</a></td></tr>
      {{ end }}
      {{ range .Files }}
          <tr><td class="filemode">{{ if .IsDir }}d{{ else }}-{{ end }}{{ if .IsExecutable }}rwxr-xr-x{{ else }}rw-r--r--{{ end }}</td><td class="filename {{ if .IsDir }}filedir{{ end }}"><a href="{{ $.URL.RepoTree $.Repo (print $.Path .Name) .IsDir }}">{{ .Name }}</a><td class="filesize">{{ if .IsFile }}{{ .Size }}{{ end }}</td></tr>
      {{ end }}
    </table>
  {{ end }}
{{ end }}
{{ define "repo-body" }}
  {{ if not .IsListing }}
    <pre><code>{{ .Blob }}</code></pre>
  {{ end }}
{{ end }}

{{/* highlight.js */}}
{{ define "scripts" }}
  <script src="{{ .URL.Static "highlightjs/highlight.pack.js" }}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}
