{{ define "title" }}{{ block "repo-title" . }}{{ end }} &laquo; {{ .Repo.Name }}{{ end }}
{{ define "content" }}
  <header>
    <h1 id="title"><a href="{{ .URL.RepoRoot .Repo .Branch }}">{{ .Repo.Name }}</a></h1>
    <p id="subtitle">{{ .Repo.Description }}</p>
    <form id="branch-form">
      <select name="h" id="branch-select" oninput="this.form.submit()">
        {{ range .Branches }}
            <option value="{{ . }}"{{ if eq . $.Branch }} selected{{ end }}>{{ . }}</option>
        {{ end }}
      </select>
      <noscript>
        <input type="submit" value="&rarr;"></input>
      </noscript>
    </form>
    <nav>
        <ul><li><a href="{{ .URL.RepoTree .Repo .Branch "/" true }}">browse</a></li><li><a href="{{ .URL.RepoLog .Repo .Branch }}">log</a></li><li><a href="{{ .URL.RepoRefs .Repo .Branch }}">releases</a></li></ul>
    </nav>
    {{ block "repo-header" . }}{{ end }}
  </header>
  {{ block "repo-body" . }}{{ end }}
{{ end }}
